[submodule "shell/z"]
	path = shell/z
	url = https://github.com/rupa/z.git
[submodule "shell/powerlevel10k"]
	path = shell/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "shell/zsh-syntax-highlighting"]
	path = shell/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "shell/zsh-completions"]
	path = shell/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "tools/solvitaire"]
	path = tools/solvitaire
	url = https://github.com/girst/solvitaire.git
[submodule "tools/conf"]
	path = tools/conf
	url = https://github.com/thezeroalpha/conf
[submodule "tools/tmpmail"]
	path = tools/tmpmail
	url = https://github.com/sdushantha/tmpmail.git
[submodule "tools/sc-im"]
	path = tools/sc-im
	url = https://github.com/andmarti1424/sc-im.git
[submodule "tools/hpanot"]
	path = tools/hpanot
	url = https://github.com/thezeroalpha/hpanot.git
[submodule "conf"]
	url = https://github.com/thezeroalpha/conf.git
[submodule "tools/anotools-chrome"]
	path = tools/anotools-chrome
	url = https://github.com/thezeroalpha/anotools-chrome.git
[submodule "tools/fzf"]
	path = tools/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "tools/LocalCDN"]
	path = tools/LocalCDN
	url = https://codeberg.org/nobody/LocalCDN.git
[submodule "tools/shfm"]
	path = tools/shfm
	url = https://github.com/dylanaraps/shfm
[submodule "tools/pfetch"]
	path = tools/pfetch
	url = https://github.com/dylanaraps/pfetch
[submodule "docs/pbib"]
	path = docs/pbib
	url = https://github.com/dylanaraps/pure-sh-bible.git
[submodule "tools/pipe-viewer"]
	path = tools/pipe-viewer
	url = https://github.com/trizen/pipe-viewer.git
[submodule "shell/osx-zsh-completions"]
	path = shell/osx-zsh-completions
	url = https://github.com/nilsonholger/osx-zsh-completions
[submodule "tools/speedread"]
	path = tools/speedread
	url = https://github.com/pasky/speedread.git
[submodule "tools/radio"]
	path = tools/radio
	url = https://github.com/thezeroalpha/radio
[submodule "tools/go-readability"]
	path = tools/go-readability
	url = https://github.com/go-shiori/go-readability
[submodule "tools/translate-shell"]
	path = tools/translate-shell
	url = https://github.com/soimort/translate-shell
