batteryCheck.scpt
.DS_Store
secret_env
oh-my-zsh/cache
error.log
newsboat/notify-wrapper
newsboat/history.cmdline
newsboat/history.search
*.pyc
vim/autoload/plug.vim*
irssi/*.log
bin/z
bin/lf
mpv/scripts/shared/sponsorblock.db*
karabiner/automatic_backups/
rotmgmule/accounts.tsv
w3m/*
!w3m/config
!w3m/mailcap
!w3m/keymap
