# The bane of every mac user
.DS_Store

# Secrets
shell/secret_env
mutt/secret

# CLI for my router
scripts/wifi

# Newsboat
newsboat/history.cmdline
newsboat/history.search
newsboat/error.log
newsboat/cache.db

# w3m: don't want to share history, cookies, etc.
w3m/*
!w3m/config
!w3m/mailcap
!w3m/keymap

# GNUPG: Don't want to share my keys, but I want the config in git
gnupg/*
!gnupg/gpg.conf

# ncmpcpp
ncmpcpp/error.log
ncmpcpp/patterns.list

# Misc
*.pyc
vim/autoload/plug.vim*
irssi/*.log
karabiner/automatic_backups/
/tools/solvitaire
pipe-viewer/instances.json

bin/geckodriver