[submodule "shell/z"]
	path = shell/z
	url = https://github.com/rupa/z.git
[submodule "shell/powerlevel10k"]
	path = shell/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "shell/zsh-syntax-highlighting"]
	path = shell/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "shell/zsh-completions"]
	path = shell/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "tools/DeezloaderRemix"]
	path = tools/DeezloaderRemix
	url = https://notabug.org/RemixDevs/DeezloaderRemix.git
[submodule "tools/bypass-paywalls-chrome"]
	path = tools/bypass-paywalls-chrome
	url = https://github.com/iamadamdev/bypass-paywalls-chrome.git
[submodule "tools/solvitaire"]
	path = tools/solvitaire
	url = https://github.com/girst/solvitaire.git
[submodule "tools/conf"]
	path = tools/conf
	url = git@github.com:thezeroalpha/conf
[submodule "tools/tmpmail"]
	path = tools/tmpmail
	url = https://github.com/sdushantha/tmpmail.git
[submodule "tools/radio"]
	path = tools/radio
	url = git@github.com:thezeroalpha/radio
[submodule "tools/sc-im"]
	path = tools/sc-im
	url = https://github.com/andmarti1424/sc-im.git
[submodule "tools/hpanot"]
	path = tools/hpanot
	url = git@git.alex.balgavy.eu:hpanot.git
