snippet skel "Skeleton with everything I might need" b
Host ${1:user-friendly name}
  HostName ${2:actual IP address}
  User ${3:username}
  Port ${4:22}
  IdentityFile ${5:/path/to/key}
  ${6:IdentitiesOnly yes}
  ${7:AddKeysToAgent yes}
  ${8:ForwardX11 yes}
  ${9:ProxyJump other host}
  ${10:SendEnv ENV_VARIABLE_TO_SEND}
endsnippet
