snippet undo_ftplugin "Undo an ftplugin config" b
if exists('b:undo_ftplugin')
  let b:undo_ftplugin .= '| ${1:{changes to make}}'
else
  let b:undo_ftplugin = '| $1'
endif
endsnippet
snippet compiler "Compiler boilerplate" b
if exists("current_compiler")
  finish
endif
let current_compiler = "${1:compiler name}"
if exists(":CompilerSet") != 2		" older Vim always used :setlocal
  command -nargs=* CompilerSet setlocal <args>
endif
CompilerSet makeprg=$0
endsnippet
