[Desktop Entry]
Type=Application
Name=dwm-gnome
NoDisplay=true
Comment=suckless tiling window manager
Exec=dwm-gnome
X-GNOME-WMName=dwm-gnome
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
